<div class="container">
    <form class="form-horizontal" action='' method="POST">
    <fieldset>
        <div class="mt-4">
            <h1 class="text-center">Reset your password</h1>
        </div>
    
        <div class="control-group">
        <label class="control-label" for="password">New password</label>
        <div class="controls">
            <input type="password" id="new_password" name="new_password" placeholder="" >
        </div>
        </div>
        
    
        <div class="control-group">
        <label class="control-label" for="confirm_password">Confirm new Password</label>
        <div class="controls">
            <input type="password" id="confirm_password" name="confirm_password" placeholder="" >
        </div>
        </div>
    
    
        <div class="control-group">
            <div class="controls mt-4">
                <button class="btn btn-success ">Reset</button>
            </div>
        </div>
        <p class="mt-2"> New User? <a href="/account/signup">Sign up</a> 
    </fieldset>
    </form>
</div>