<div class="container">
    <form class="form-horizontal" action='' method="POST">
    <fieldset>
        <div class="mt-4">
            <h1 class="text-center">Login into your account</h1>
        </div>
    
        <div class="control-group">
        <!-- E-mail -->
        <label class="control-label" for="email">E-mail</label>
        <div class="controls">
            <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
        </div>
        </div>
    
        <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
            <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
        </div>
        </div>
    
    
        <div class="control-group">
            <div class="controls mt-4">
                <button class="btn btn-success ">Sign in</button>
                <button class="btn btn-danger ">Cancel</button>
            </div>
        </div>
        <p class="mt-2"> New User? <a href="/account/signup">Sign up</a> 
                                 | <a href="/password/forget_password">Forgot password</a> </p>
    </fieldset>
    </form>
</div>